<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
    <link href="/style.css" rel="stylesheet" />
    <title>User Home</title>
  </head>

  <body>
    <!-- Navigation menu -->
    <%- include('user_nav'); %>
    <!--Check if deletion was successful, display success message-->
    <% if(deletedMessage != null) { %>
    <div class="alert alert-success m-0" role="alert">
      <div class="container"><%= deletedMessage %></div>
    </div>
    <% } %>
    <!--Main section-->
    <section class="px-3 px-sm-5 bg-section">
      <div class="container py-5">
        <!-- User info -->
        <div class="pb-2 pt-0">
          <div class="d-flex align-items-center">
            <i class="bi bi-person-circle bigger-icon"></i>

            <div class="ps-2 pt-3">
              <div><%= firstName %> <%= lastName %></div>
              <div>
                <span class="small"><%= currentDateTime %></span>
              </div>
            </div>
          </div>
        </div>

        <!--Header cards-->
        <div class="row row-cols-1 row-cols-md-2 g-4 mb-5">
          <div class="col">
            <div class="card bg-light d-flex flex-column h-100">
              <h5 class="card-header">Todays Summary</h5>
              <div class="card-body">
                <h5 class="card-title">Have you recorded a snapshot today?</h5>
                <p class="card-text"><%= todaysSnapMessage.message %></p>
                <a href="/user/snapshot" class="btn btn-success"
                  >Record a snapshot</a
                >
              </div>
            </div>
          </div>
          <div class="d-none d-md-block col">
            <div class="card bg-light d-flex flex-column h-100">
              <h5 class="card-header">Analytics</h5>
              <div class="card-body">
                <h5 class="card-title">Total snapshots</h5>
                <p class="card-text">
                  You have recorded a total of <%= numberOfSnapshots %>
                  snapshots.
                </p>
                <a href="/user/analytics" class="btn btn-success"
                  >View Graphs</a
                >
              </div>
            </div>
          </div>
        </div>
        <!--Snapshot section-->
        <div>
          <h3 class="pb-2">Snapshots</h3>
          <div class="row row-cols-1 row-cols-md-2 g-3">
          <% if(numberOfSnapshots > 0) {
            //check if we have more than one snapshot, if so loop through each one
            groupedDataSorted.forEach(snapshot => { 
              //check the length of the note, shorten to 30 chars if needed
              let note = snapshot.note.length > 30 ? `${snapshot.note.substring(0,30)}...` : snapshot.note; 
              //if notes are empty, display an appropriate message
              note = note == "" ? "No notes" : note; 
              
              //format the date
              let parts = snapshot.date.split("/");
              let day = parseInt(parts[0], 10);
              let month = parseInt(parts[1], 10) - 1; // Months are zero-based
              let year = parseInt(parts[2], 10);

              let date = new Date(year, month, day);

              let options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
              let formattedDate = date.toLocaleDateString('en-GB', options); 
              %>
              
                <div class="col">
                  <a href="/user/snapshot/view/<%= snapshot.snapshot_id %>" class="card-link h-100">
                    <div class="bg-white p-4 rounded shadow grow-on-hover h-100">
                      <h5><%= formattedDate %></h5>
                      <p class="fw-light"><%= note %></p>
                    </div>
                  </a>
                </div>
              
            <% }) %>
          <% } else { %>
            <p>No snapshots to display yet</p>
          <% } %>
          </div>
        </div>
      </div>
    </section>
    <%- include('footer') %>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
